*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/
*.eggs/
*.manifest
*.spec
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json
.cache/
.DS_Store
Thumbs.db
.pyre/
Pipfile.lock
*.env
